
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image: url(Assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.title {
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: auto; 
    
}


.home {
    text-align: center;
    padding: 50px 0;
}

.poster-infographic {
    display: flex;
    padding: 50px 100px;
    
}

.poster-infographic img {
    max-width: 100%;
    height: auto;
    border-style: solid;
}

.prototype {
    text-align: center;
    padding: 50px 0;
}

.prototype img {
    max-width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

 p {

    color:black;
    font-weight: 800;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    
    

}

.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #333;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #555;
}

.poster-infographic2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px; 
}

.poster-infographic2 img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    margin: 10px; 
}

h4 {

    color:black;
    font-weight: 800;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;


}

.navbar-nav{

    margin-left: 50px
}